/* CSS Reset */

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    background: repeating-linear-gradient(45deg, black, #413d48 100px);
    background-position: center;
    background-size: 107px 108px;
    background-attachment: fixed;
}


/* Preloader */

#preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    background-color: #fff;
    text-align: center;
}

#preloader i {
    font-size: 100px;
    margin-top: 23%;
    animation: rotate 1.3s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}


/* Home Section */

#logo img {
    width: 100px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 60px;
    left: 37%;
}

#logo h3 {
    color: #fff;
    position: absolute;
    top: 102px;
    left: 38%;
}

#home ul {
    display: flex;
    padding: 0px 11px;
    cursor: pointer;
}

#home ul li {
    text-align: center;
    list-style: none;
    color: #fff;
    background-color: #000;
    margin: 200px 2px;
    border: 2px solid #fff;
    padding: 5px 6px;
    border-radius: 30px;
}

#home ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
}

#home .fa:before {
    margin-right: 4px;
}

#home {
    width: 400px;
    height: 500px;
    overflow: hidden;
    margin: 0px auto;
    z-index: 0;
    opacity: 1.4;
    background-color: rgb(183, 0, 255);
    background-size: 100% 100%;
    color: white;
    padding: 0px 0px 27px;
}

#home .address {
    display: flex;
    flex-direction: column;
    margin-top: -120px;
}

#home .address a {
    color: #fff;
    text-decoration: none;
    width: -1px;
    height: 45px;
    display: flex;
    border-radius: 50%;
    margin-left: 35px;
    cursor: auto;
}

#home .address i:hover {
    background-color: #fff;
    color: #000;
}

#home .address a:hover {
    padding-left: 8px;
}

#home .address .fa {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    margin-right: 18px;
    border: 2px solid black;
    border-radius: 50%;
    margin: -15px 12px;
}


/* Videos Section starts */

#videos iframe {
    width: 350px;
    height: 200px;
    border: 2px solid rgb(0, 255, 0);
    border-radius: 8px;
}


/* Videos section ends */


/* Offers section starts */

#offers img {
    width: 180px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
}


/* Offers section ends */


/* About us section starts */

#about {
    font-family: 'Bree Serif', serif;
}


/* About us section ends */


/* Gallery Section starts */

#gallery #gallery-image {
    display: flex;
    flex-direction: column;
}

#gallery #gallery-image img {
    width: 80%;
    height: 150px;
    margin: 5px 42px;
}


/* Gallery Section ends */


/* Services section starts */

#services #service-img img {
    width: 380px;
    height: 180px;
    border: 2px solid black;
    border-radius: 10px;
}

#services #service-img h3 {
    text-align: left;
    margin: 5px 12px;
}

#services #service-img p {
    font-family: 'Bree Serif', serif;
}


/* Services section ends */


/* Payment section starts */

#payment h3 {
    font-size: 20px;
    font-weight: 600;
    color: gray;
    width: 72%;
    margin: 5px 0px;
}

#payment img {
    width: 350px;
    height: 300px;
    filter: invert(100%);
    border: 1px solid black;
    border-radius: 20px;
}


/* Payment section ends*/


/* Contact Us Section starts*/

#contact .contact-box .form-group {
    padding: 3px;
    margin: 2px -14px;
}

#contact .form-group {
    width: 100%;
}

#contact form {
    margin-bottom: 20%;
}

.contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-box form {
    width: 85%;
}

.contact-box input,
.contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.1rem;
    border-radius: 9px;
    background-color: rgba(190, 201, 201, 0.555);
}

.contact-box input[type='submit'] {
    background-color: #000;
    color: #fff;
}

span {
    position: absolute;
    top: 2px;
    left: 58.2%;
    font-weight: bold;
    font-family: 'Bree Serif', serif;
}

#credit {
    background-color: #000;
    color: #fff;
    margin: 25px -30px;
    padding: 14px 17px;
}


/* Contact us Ends */

#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.navbar {
    background: turquoise;
    text-align: center;
}

.navbar ul {
    display: inline-flex;
    list-style: none;
}

.navbar ul li {
    width: 130px;
    margin: 17px;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
}

.navbar .fa::before {
    font-size: 20px;
    margin: 56px;
}


/* Utility Section */

.card {
    background: white;
    width: 400px;
    margin: 7px auto;
    padding: 0px;
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
}

h2 {
    background-color: #000;
    color: #fff;
    margin-top: 0px;
    height: 40px;
    padding-top: 10px;
}